main.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main.contact .contactMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 60%;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
  padding: 20px 0;
  margin-bottom: 30px;
}

main.contact .contactMe a {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  width: 90%;
  height: 120px;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

main.contact .contactMe a:hover {
  box-shadow: none;
}

main.contact .contactMe a * {
  cursor: pointer;
}

main.contact .contactMe a .contactIdTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  float: left;
  clear: left;
}

main.contact .contactMe a .contactIdTitle img {
  border-radius: 50%;
  border: 8px solid white;
  width: 80px;
  height: 80px;
}

main.contact .contactMe a .contactIdSub {
  margin-left: 20px;
}

main.contact .contactMe a .contactIdSub h1 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2px;
}

main.contact .contactMe a .contactIdSub p {
  font-family: "Hind Madurai", sans-serif;
}

@media screen and (max-width: 665px) {
  main.contact .contactMe {
    width: 90%;
  }
}
