main.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main.contact .contactMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 300px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

main.contact .contactMe a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
}

main.contact .contactMe a img {
  width: 80px;
  height: 80px;
  border: 10px solid white;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  transition: 0.3s;
  cursor: pointer;
}

main.contact .contactMe a:hover img {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

main.contact .contactMe a h1 {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 799.9px) {
  main.contact .contactMe {
    height: 400px;
  }
}
