main.home #homeTitleDiv {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 801px;
  overflow: hidden;
  top: 80px;
}

main.home #homeTitleDiv #homeTitleImg {
  position: absolute;
  margin-left: 300px;
}

main.home #homeTitleDiv #homeProfileDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fd9f28;
  left: 50%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

main.home #homeTitleDiv #homeProfileDiv #homeProfileImg:hover {
  width: 280px;
}

main.home #homeTitleDiv #homeProfileDiv #homeProfileImg {
  width: 230px;
  transition: 0.3s;
}

main.home #homeTitleDiv #homeTitleText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: "Ubuntu", sans-serif;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  color: lightgrey;
}

main.home .scrollInfomational {
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  left: 10px;
  top: 564px;
  z-index: 10000;
  padding: 5px 5px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

main.home .scrollInfomational div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  margin-top: 2px;
}

main.home .scrollInfomational div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

main.home .scrollInfomational div > div > div {
  width: 4px;
  height: 20px;
  background-color: white;
  border-radius: 20px;
}

main.home .scrollInfomational div > div > div:first-child {
  transform: rotate(-60deg);
  margin-right: 5.5px;
  animation: crossingLeft 4s infinite;
}

@keyframes crossingLeft {
  0% {
    background-color: white;
    transform: rotate(-60deg);
  }
  6.25% {
    transform: rotate(-90deg);
  }
  12.5% {
    transform: rotate(-60deg);
  }
  18.75% {
    transform: rotate(-90deg);
  }
  25% {
    background-color: white;
    transform: rotate(-60deg);
  }
  50% {
    background-color: lightgray;
    transform: rotate(-420deg);
  }
}

main.home .scrollInfomational div > div > div:last-child {
  transform: rotate(60deg);
  margin-left: 5.5px;
  animation: crossingRight 4s infinite;
}

@keyframes crossingRight {
  0% {
    background-color: white;
    transform: rotate(60deg);
  }
  6.25% {
    transform: rotate(90deg);
  }
  12.5% {
    transform: rotate(60deg);
  }
  18.75% {
    transform: rotate(90deg);
  }
  25% {
    background-color: white;
    transform: rotate(60deg);
  }
  50% {
    background-color: lightgray;
    transform: rotate(420deg);
  }
}

main.home .scrollInfomational h1 {
  padding-top: 3px;
  font-family: "Hind Madurai", sans-serif;
  color: white;
}

main.home #homeContainer {
  position: sticky;
  width: 100%;
  background-color: white;
  overflow: auto;
}

main.home #homeContainer > div:not(.project, .showUp) {
  opacity: 0;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 100px 0;
}

main.home .showUp {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 100px 0;
  animation: homeFadeIn 1s;
  opacity: 1;
}

@keyframes homeFadeIn {
  0% {
    opacity: 0;
    height: 450px;
    padding-top: 50px;
  }
  100% {
    opacity: 1;
    height: 500px;
    padding-top: 0px;
  }
}

main.home #homeContainer > div:not(.project) .homeDivTextDiv {
  position: absolute;
  left: 200px;
}

main.home #homeContainer > div:not(.project) .homeDivTextDiv h1 {
  font-family: "Roboto", sans-serif;
}

main.home #homeContainer > div:not(.project) .homeDivTextDiv p {
  font-family: "Nunito Sans", sans-serif;
}

main.home #homeContainer > div:not(.project) img {
  position: absolute;
  right: 200px;
  width: 500px;
}

@media screen and (max-width: 1410px) {
  main.home #homeContainer > div:not(.project) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* 여기 손보기!!! */
  }
}

@media screen and (max-width: 700px) {
  main.home #homeTitleDiv {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 801px;
    overflow: hidden;
    top: 80px;
  }

  main.home #homeTitleDiv #homeTitleImg {
    position: sticky;
    width: 1000px;
    margin-left: 200px;
    margin-bottom: 200px;
  }

  main.home #homeContainer {
    position: sticky;
    width: 100%;
    background-color: white;
    overflow: auto;
  }
}
